button {
    margin-top: 1.3rem;
    cursor: pointer;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 0 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    line-height: 3rem;
    font-size: 1rem;
    background-color: var(--brown-color);
    margin-top: -0.1rem;
    transition: background-color 0.6s;
}

.btn-lg {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    background-color: #e80505;
    color: #fff;
}

.header-right .header-contact .btn a {
    color: #fff;
    position: relative;
}

.header-right .header-contact .btn a::after {
    position: absolute;
    content: "";
    width: 0;
    height: .04rem;
    background-color: var(--white-color);
    bottom: -0.2rem;
    left: 50%;
    transform: translate(-50%);
    transition: .4s ease width;
}

.header-right .header-contact:hover .btn a::after {
    width: 100%;
}

.btn a {
    color: #fff;
}

.contact-form .submit .btn {
    width: 20%;
    position: relative;
    z-index: -1000;
}

.contact-form .submit .btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: .04rem;
    background-color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    transition: .4s ease width;
}

.contact-form .submit:hover .btn::after {
    width: 30%;
}

.btn.btn-primary{
    position: relative;
}

.btn.btn-primary::after {
    position: absolute;
    content: "";
    width: 0;
    height: .04rem;
    background-color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .4s ease;
}

.btn.btn-primary:hover::after {
    width: 16%;
}

.btn.btn-primary.mb-2 {
    position: relative;
}

.btn.btn-primary.mb-2::after {
    position: absolute;
    content: "";
    width: 0;
    height: .04rem;
    background-color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    transition: .4s ease width;
}

.btn:hover.btn-primary.mb-2::after {
    width: 50%;
}
