/* ! sidebar start */
@media screen and (max-width: 1000px) {
    .menu-toggle {
        display: block;
    }

    .nav-menu .menu-list {
        display: none;
    }

    .sidebar {
        right: -250px;
    }

    .sidebar-open {
        right: 0;
    }
}

/* ! sidebar end */




/* ! logo start */
@media(max-width: 1000px) {
    .logo {
        margin-right: 19rem;
    }
}

/* ! logo end */




/* ! header start */
@media(max-width:1000px) {
    .menu-toggle {
        font-size: 2rem;
    }

    .header-center {
        display: none;
    }

    .header-contact {
        display: none;
    }

}

/* ! header end */



/* ! footer start */
@media(max-width:1000px) {
    footer {
        max-width: 100%;
        overflow-x: hidden;
    }

    .footer-2 {
        display: none;
    }

    .map {
        height: auto;
        width: 19.6rem;
        margin-left: 2rem;
    }

    .form-box {
        position: absolute;
        left: 0;
        margin-top: 14rem;
        z-index: -1000;
    }

    .form-control {
        width: 20rem !important;
        margin-left: 1rem;
    }

    form .btn {
        margin-left: 1rem;
        width: 15rem !important;
    }

    form {
        height: auto;
        width: auto;
        margin-left: rem;
    }

    form h3 {
        margin-left: 1rem;
    }

    .logo {
        margin-left: 2rem;
    }

    .col-md {
        display: none;

    }

    .col-md-6 {
        margin-left: 1rem;
    }

    hr {
        width: 19.6rem;
        margin-left: 2rem;
    }
}

/* ! footer end */



/* ! mirlaw start */
@media(max-width:1000px) {
    .mirlaw h1 {
        font-size: 1.6rem;
        margin-left: 2rem;

    }

    .mirlaw p {
        font-size: 1rem;
        width: 20rem;
        margin-left: 2rem;

    }
}

/* ! mirlaw end */



/* ! animation start */
@media(max-width: 1000px) {
    .animation {
        z-index: -1000;
        background-attachment: scroll;
        /* Mobil cihazlarda arka planın kaydırılabilir olmasını sağla */
    }

    .animation-wrapper {
        display: none;
        /* Mobil cihazlarda animasyonu kaldır */
    }
}

/* ! animation end */



/* ! expertise start */
@media(max-width: 1000px) {
    .expertise-h3 {
        margin-left: -1rem;
    }

    .expertise-hr {
        margin-left: 1rem;
    }

    .expertise-p {
        margin-left: -1rem;
        font-size: 1rem !important;
    }
}

/* ! expertise end */




/* ! card start */
@media(max-width: 1000px) {
    .card {
        flex: 0 0 calc(90% - 20px);
        /* Ekran küçüldüğünde kartların genişliği ve alt alta sıralanması */
    }

    .expertise-hr {
        width: 85%;
    }

    .team-hr {
        width: 85%;
    }

    .container-h2 {
        margin-left: 2rem;
        font-size: 2.3rem !important;
    }

}

/* ! card end */


/* ! maps start */
@media(max-width:1000px) {
    .maps {
        max-width: 100%;
        overflow-x: hidden;
        max-height: 28rem;
        margin-top: 5rem;
    }

    .maps-2 {
        height: 20rem;
        width: 22.3rem;
        margin-left: 1rem;
        margin-top: -8.2rem;
    }

    .maps-h2 {
        padding-left: 1rem;
        font-size: 2rem !important;
    }

    .uzmanlik-hr {
        width: auto;
    }
}

/* ! maps end */

@media(max-width: 1000px) {
    .fa-angle-double-up{
       margin-top: 60rem;
    }
}